ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: unset;
}

td, th {
    text-align: center !important;
}

/* Sidebar Section */
.sidebar_section{
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 250px;
    right: 0;
    top: 0;
    height: 100vh;
    display: block;
    transition: all 300ms ease;
    z-index: 999;
}

.sidebar_avatar{
    margin-top: 2rem;
    text-align: center;
    padding: 0.3rem 0.5rem !important;
}

.sidebar_avatar img{
    max-width: 100px;
    border-radius: 30%;
}

.sidebar_list li{
    padding: 1rem 2rem;
    transition: all 300ms ease;
}

.sidebar_list li:not(.sidebar_avatar):hover{
    padding: 0.3rem 1rem;
    background: #ebe6e681;
}

/* Content Section */
.content_section{
    position: fixed;
    width: calc(100% - 250px);
    left: 0;
    top: 0;
    height: 100vh;
    overflow: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.menu_button{
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 1000;
}

.item_content{
    background: rgba(255, 255, 255, 0.212);
    border-radius: 8px;
    margin: 1rem 0;
}

@media (max-width:768px) {
    .content_section{
        width: 100%;
    }
    .sidebar_section{
        right: -250px;
    }
    .sidebar_section .active{
        right: 0;
    }
}

